:root {
  --primary-bg-color: #e4dccf;
  --button-bg-color: #fbeee0;
  --button-red-color: #ea5455;
  --button-blue-color: #002b5b;
  --button-brown-color: #984063;
  --font-family: "Baloo 2", cursive;
}

body {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
