# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite build output and cache
client/dist/
client/node_modules/.vite/
client/node_modules/.cache/


# JavaScript files created by `tsc`
client/src/**/*.js
client/src/**/*.jsx
client/src/*.js
client/src/*.jsx
client/src/**/*.test.js
client/src/**/*.test.jsx
client/src/*.test.js
client/src/*.test.jsx
!jest.config.js

# Node.js dependencies
client/node_modules/
server/node_modules/

# Environment variables
client/.env
client/.env.local
client/.env.*.local
server/.env
server/.env.local
server/.env.*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
dist/
*.log
*.env
