.welcome-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 120px;
  width: 80vw;
  max-height: 100px;
}
