.welcome-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 120px;
  width: 80vw;
  max-height: 100px;
}

.side-links-container {
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.side-links-container::before {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 10px auto;
  background-color: #984063;
}

.side-links-container::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 10px auto;
  background-color: #984063;
}

.link {
  animation: expand 4s ease-in-out infinite;
  display: flex;
  transform-origin: center center;
  width: 15px;
  height: 15px;
  margin: 30px 0;
  color: #984063;
}

.link:hover {
  cursor: pointer;
}

.link:nth-child(2) {
  animation-delay: 500ms;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
